
<!-- existing milestones -->
<section class="milestones">
    <div class="milestone">
        <header>
            <div class="milestone__marker"></div>
            <div class="milestone__name">
                <p class="milestone__name-text">Todo</p>
                <p class="milestone-name-number">(4)</p>
            </div>
        </header>

        <!-- micro goals / achieveable goals -->
        <div class="milestone__goals">
            <div class="milestone__goal">
                <p class="milestone__goal-text">Create a new project</p>
                <p class="milestone__goal-comment">Due: 12th June 2021</p>
            </div>
            <div class="milestone__goal">
                <p class="milestone__goal-text">Create a new project</p>
                <p class="milestone__goal-comment">Due: 12th June 2021</p>
            </div>
            <div class="milestone__goal">
                <p class="milestone__goal-text">Create a new project</p>
                <p class="milestone__goal-comment">Due: 12th June 2021</p>
            </div>
            <div class="milestone__goal">
                <p class="milestone__goal-text">Create a new project</p>
                <p class="milestone__goal-comment">Due: 12th June 2021</p>
            </div>
        </div>
    </div>

    <section class="add-milestone">
        <p-button 
            label="+ Add New Milestone" 
            rounded="true" 
            class="add-milestone__button"
        />
    </section>
</section>
