
<!-- existing milestones -->
<section class="milestones">
    @for (milestone of (activeGoal$ | async)?.milestones; track $index) {
        <div class="milestone">
            <header>
                <div class="milestone__marker"></div>
                <div class="milestone__name">
                    <p class="milestone__name-text">{{ milestone.name }}</p>
                    <!-- <p class="milestone-name-number">({{ milestone.comments.length }})</p> -->
                </div>
            </header>
    
            <!-- micro goals / achieveable goals -->
            <div class="milestone__goals">
                @for (actionStep of milestone.tasks; track $index) {
                    <div class="milestone__goal">
                        <p class="milestone__goal-text">{{ actionStep.title }}</p>
                        <p class="milestone__goal-comment">{{ actionStep.description }}</p>
                    </div>

                }
            </div>
        </div>

    }

    <section class="add-milestone">
        <p-button 
            label="+ Add New Milestone" 
            rounded="true" 
            class="add-milestone__button"
        />
    </section>
</section>
