
<div class="card flex justify-content-center">
    <p-dialog 
        header="Add new goal" 
        [modal]="true" 
        [(visible)]="visible" 
        (onHide)="hideDialog()"
    >

    <form>
        <div class="form-element">
          <label for="username">Goal title</label>
          <input type="text" pInputText formControlName="text" />
        </div>
            
        <div class="form-element comments">
          <label for="comment">Set milestones</label>
          <section class="form-element__comment">
            <input type="text" pInputText formControlName="text" />
            <p-button icon="pi pi-times" />
          </section>
          <p-button
            class="form-element__add-comment" 
            label="+ Add New comment" 
            (onClick)="visible = false" 
            rounded="true" 
            />
        </div>
    
        <p-button
            class="form-element__button"
            label="Create milestone" 
            (onClick)="visible = false" 
            rounded="true" 
        />
    </form>
    
    </p-dialog>
</div>

