
<div class="card flex justify-content-center">
    <p-dialog 
        header="{{ isEdit() ? 'Edit goal' : 'Add new goal' }}" 
        [modal]="true" 
        [(visible)]="visible" 
        (onHide)="hideDialog()"
    >

    <form [formGroup]="goalForm" (submit)="onSubmit()">
        <div class="form-element">
          <label for="goal-title">Goal title</label>
          <input type="text" formControlName="goal" id="goal-title"/>
        </div>
            
        <div class="form-element comments" formArrayName="milestones">
          <label for="comment">Set milestones</label>
          @for (comment of comments.controls; track comment; let i = $index) {
            <section class="form-element__comment">
              <input type="text" pInputText [formControlName]="i" />
              <p-button icon="pi pi-times" (click)="removeComment(i)" />
            </section>
          }
          <p-button
            class="form-element__add-comment" 
            label="+ Add New comment" 
            (onClick)="addComment()" 
            rounded="true" 
            />
        </div>
    
        <p-button
            class="form-element__button"
            label="Create goal" 
            rounded="true" 
            type="submit"
        />
    </form>
    
    </p-dialog>
</div>

