<h1>
    {{ selectedGoal() ? selectedGoal()?.title : 'Goal Tracker App'}}
</h1>

@if (selectedGoal()) {
    <div class="control-panel">
        <p-button 
            label="Add New milestone" 
            icon="pi pi-plus" rounded="true" 
            class="control-panel__add-new-milestone"
            (click)="showMilestoneFormDialog()"
        />
        <p-button icon="pi pi-ellipsis-v" 
            class="control-panel__settings" 
            (onClick)="menu.toggle($event)"
        />
        <p-menu #menu 
            [model]="items" 
            [popup]="true" 
        />
            
    </div>

}