@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// colors
$main-purple: #635fc7;
$main-purple-hover: #A8A4FF;
$very-dark-gray: #20212C;
$dark-gray: #2B2C37;
$medium-gray: #828FA3;
$light-gray: #F4F7FD;
$lines-dark: #3E3F4E;
$lines-ligth: #E4EBFA;
$black: #000112;
$white: #FFFFFF;
$red: #EA5555;
$red-hover: #FF9898;

// fonts
$font-family: 'Plus Jakarta Sans', sans-serif;

// font sizes
$font-size-body-xs: 12px;
$font-size-body-m: 13px;
$font-size-heding-s: 12px;
$font-size-heding-m: 15px;
$font-size-heding-l: 18px;
$font-size-heding-xl: 24px;