@use 'variables' as var;
@use 'mixins' as mix;

app-nav-bar {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

app-side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

main {
    width: 100%;
    height: 100%;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    color: var.$white;
    overflow-x: hidden;
}

::ng-deep {
    .p-dialog {
        background-color: var.$dark-gray;
        color: var.$white;
        border-radius: 8px;
        border: 2px solid var.$main-purple;
        width: min(600px, 90%);
    }
    .p-dialog-header,
    .p-dialog-content,
    .p-dialog-footer {
        background-color: transparent;
    }
    .p-dialog-header {
        color: var.$red;
    }
    .p-dialog-content {
        color: var.$medium-gray;
    }
}