
<div class="card flex justify-content-center">
    <p-dialog 
        header="{{ isEdit() ? 'Edit milestone' : 'Add new milestone' }}" 
        [modal]="true" 
        [(visible)]="visible" 
        (onHide)="hideDialog()"
    >

    <form [formGroup]="milestoneForm">
        <div class="form-element">
            <label for="username">Milestone</label>
            <input type="text" formControlName="title" />
        </div>
        <div class="form-element">
            <label for="username">Description</label>
            <textarea 
              rows="5" 
              cols="30" 
              pInputTextarea 
              formControlName="description">
            </textarea>
        </div>
    
        <div class="form-element comments" formArrayName="comments">
        <label for="comment">Comment</label>
        @for (comment of comments.controls; track comment; let i = $index) {
            <section class="form-element__comment">
                <input type="text" pInputText [formControlName]="i" />
                <p-button icon="pi pi-times" (click)="removeComment(i)" />
            </section>
        }
        <p-button
            class="form-element__add-comment" 
            label="+ Add New comment" 
            (click)="addComment()"
            rounded="true" 
            />
        </div>
    
        <p-button
            class="form-element__button"
            label="Create milestone" 
            (onClick)="visible = false" 
            rounded="true" 
        />
    </form>
    
    </p-dialog>
</div>