
<div class="card flex justify-content-center">
    <p-dialog 
        header="{{ isEdit() ? 'Edit milestone' : 'Add new milestone' }}" 
        [modal]="true" 
        [(visible)]="visible" 
        (onHide)="hideDialog()"
    >

    <form [formGroup]="milestoneForm" (ngSubmit)="onSubmit()">
        <div class="form-element">
            <label for="username">Milestone</label>
            <input type="text" formControlName="name" />
        </div>
        <div class="form-element">
            <label for="username">Description</label>
            <textarea 
              rows="5" 
              cols="30" 
              pInputTextarea 
              formControlName="description">
            </textarea>
        </div>
    
        <div class="form-element">
            <label for="">Status</label>
            <p-dropdown 
            formControlName="status" 
            [options]="milestone"
            optionLabel="name"
            placeholder="Select a status" />
        </div>
    
        <p-button
            class="form-element__button"
            label="Create milestone" 
            type="submit"
            rounded="true" 
        />
    </form>
    
    </p-dialog>
</div>